.active {
    border-bottom: 3px solid black;
    width: 150px;
}

.color:hover {
    transition: 0.5;
    border-bottom: 3px solid #6495ED;
    width: 150px;
}



.space-toggle {
    width: 20%;
    height: 100vh;
    background-color:  #5ee05e;
    color: white;
    transition: 0.5s ease-in-out;
    float: left;
}

.sidebar_logo img {
    width: 200px;
    height: 200px;
    position: absolute ;
    top: -70px;
    left: 70px;
}

ul {
    list-style: none;
    text-decoration: none;
    content: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    padding-top: 50px;
}

ul li {
    margin-top: 30px;
}

.color {
    color: white;
    text-decoration: none;
}

.bar {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.close {
    display: none;
}

